apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabase
  namespace: default
  labels:
    app: metabase
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metabase
  template:
    metadata:
      labels:
        app: metabase
    spec:
      containers:
      - name: metabase
        image: metabase/metabase:latest
        ports:
        - containerPort: 3000
        env:
        # Tăng RAM cho Java nếu cần (Metabase khá ngốn RAM)
        - name: JAVA_OPTS
          value: "-Xmx1024m"
        resources:
          limits:
            memory: "2Gi"
            cpu: "1000m"
          requests:
            memory: "512Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: metabase-service
  namespace: default
spec:
  selector:
    app: metabase
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP